<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="ru"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="ru"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="ru"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="ru"> <!--<![endif]-->

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="description" content="IT-консультант, эксперт по ecommerce">
<meta name="author" content="Иван Попов">

<meta property="og:type" content="website" />
<meta property="og:image:width" content="237"> <!-- 277 -->
<meta property="og:image:height" content="355"> <!--415 -->
<meta property="og:description" content="IT-консультант, эксперт по ecommerce">
<meta property="og:url" content="https://ivanpopov.pro/">
<meta property="og:image" content="https://ivanpopov.pro/static/img/about/og-image.jpg">
<meta property="og:title" content="Иван Попов">

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-8PEEGZWP95"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-8PEEGZWP95');
</script>

<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();
   for (var j = 0; j < document.scripts.length; j++) {if (document.scripts[j].src === r) { return; }}
   k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(95854651, "init", {
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true
   });
</script>

<noscript><div><img src="https://mc.yandex.ru/watch/95854651" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


<title>Иван Попов</title>

<div itemscope itemtype="http://schema.org/Person" >
<meta itemprop="image" content="https://ivanpopov.pro/static/img/about/og-image.jpg">
<meta itemprop="description" content="IT-консультант, эксперт по ecommerce">
<meta itemprop="name" content="Иван Попов">
</div>
	<!-- STYLES -->
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Onest:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="css/plugins.css" />
<link rel="stylesheet" type="text/css" href="css/style.css" />
<!--[if lt IE 9]> <script type="text/javascript" src="js/modernizr.custom.js"></script> <![endif]-->
<!-- /STYLES -->

</head>

<body> 
	
	<!-- PRELOADER -->
	<div id="preloader">
		<div class="loader_line"></div>
	</div>
	<!-- /PRELOADER -->
	
	<!-- WRAPPER ALL -->
	<div class="cavani_tm_all_wrap" data-magic-cursor="show" data-enter="rollIn" data-exit="rollOut" >
	
		<div class="cavani_tm_left_border"></div>
		<div class="cavani_tm_right_border"></div>
		
		<!-- MOBILE MENU -->
		<div class="cavani_tm_topbar">
			<div class="topbar_inner">
				<div class="logo" data-type="image"> <!-- You can use text or image as logo. data-type values are: "image" and "text"  -->
					<a class="image" href="/"><img src="img/logo/dark.png" alt="ivanpopov.pro" /></a>
					<a class="text" href="/"><span>ivanpopov.pro</span></a>
				</div>
				<div class="trigger">
					<div class="hamburger hamburger--slider">
						<div class="hamburger-box">
							<div class="hamburger-inner"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="cavani_tm_mobile_menu">
			<div class="inner">
				<div class="wrapper">
					<div class="avatar">
						<div class="image" data-img-url="img/about/1.jpg"></div>
					</div>
					<div class="menu_list">
						<ul class="transition_link">
							<li class="active"><a href="#home">Кто</a></li>
							<li><a href="#about">Что</a></li>
							<li><a href="#service">Зачем</a></li>
							<li><a href="#why">Почему</a></li>
							<!--<li><a href="#news">News</a></li>-->
							<li><a href="#contact">Как связаться</a></li>
						</ul>
					</div>
					<div class="social">
						<ul>
							<li><a href="https://t.me/ivan_a_popov"><img class="svg" src="img/svg/social/telegram.svg" alt="" /></a></li>
							<li><a href="https://vk.com/ivan_a_popov"><img class="svg" src="img/svg/social/vk.svg" alt="vk" /></a></li>
							<li><a href="https://twitter.com/ivan_aka_messir"><img class="svg" src="img/svg/social/twitter.svg" alt="" /></a></li>
							<li><a href="https://www.youtube.com/@ivan_popov"><img class="svg" src="img/svg/social/youtube.svg" alt="" /></a></li>
						</ul>
					</div>
					<div class="copyright">
						<p>Иван Попов &copy; 2022</p>
					</div>
				</div>
			</div>
		</div>
			
		<!-- /MOBILE MENU -->

		<!-- HEADER -->
		<div class="cavani_tm_header">
			<div class="logo" data-type="image"> <!-- You can use text or image as logo. data-type values are: "image" and "text"  -->
				<a class="image" href="/"><img src="img/logo/dark.png" alt="ivanpopov.pro" /></a>
				<a class="text" href="/"><span>ivanpopov.pro</span></a>
			</div>
			<div class="menu">
				<ul class="transition_link">
					<li class="active"><a href="#home"><b>КТО</b></a></li>
					<li><a href="#about"><b>ЧТО</b></a></li>
					<li><a href="#service"><b>ЗАЧЕМ</b></a></li>
					<li><a href="#why"><b>ПОЧЕМУ</b></a></li>
					<!--<li><a href="#news">News</a></li>-->
					<li><a href="#contact"><b>КАК СВЯЗАТЬСЯ</b></a></li>
				</ul>
				<span class="ccc"></span>
			</div>
		</div>
		<!-- /HEADER -->
		
		<!-- MAINPART -->
		<div class="cavani_tm_mainpart">
			<div class="author_image">
				{% if effect == 'ripple' %}
				<div class="main ripple" id="ripple"></div>
				{% endif %}
				{% if effect == 'particle' %}
				<div class="main" data-img-url="img/about/2.jpg"></div>
				<div class="particle_wrapper">
					<div id="particles-js"></div>
				</div>
				{% endif %}
				{% if effect == 'glitch' %}
				<div class="glitch_wrap">
					<div class="glitch"></div>
				</div>
				{% endif %}

			</div>
			<div class="main_content">
			
				<!-- HOME -->
				<div class="cavani_tm_section animated" id="home">
					<div class="cavani_tm_home">
						<div class="content">
							<h3 class="name">Иван Попов</h3>
							<span class="line"></span>
							<h3 class="job">
								<span class="cd-headline clip"> <!-- ANIMATE TEXT VALUES: zoom, rotate-1, letters type, letters rotate-2, loading-bar, slide, clip, letters rotate-3, letters scale, push,  -->
									
									<span class="cd-words-wrapper">
									  <b class="is-visible">Разработка</b>
									  <b>Системное администрирование</b> 
									  <b>IT-консалтинг</b>
									  <b>E-commerce</b>
									</span>
									<p>
									<span class="blc">с человеческим лицом</span>
								</span>
							</h3>
							<div class="cavani_tm_button transition_link">
								<a href="#contact">Связаться</a>
							</div>
						</div>
					</div>
				</div>
				<!-- HOME -->
				
				<!-- ABOUT -->
				<div class="cavani_tm_section" id="about">
					<div class="section_inner">
						<div class="cavani_tm_about">
							<div class="biography">
								<div class="cavani_tm_title">
									<span>В ОБЩЕМ</span>
								</div>
								<div class="wrapper">
									<div class="left">
										<p>Помогаю бизнесу разумно выбирать, грамотно внедрять и эффективно использовать современные IT-решения.</p>
										<p> Сопровождаю на всём пути: от идеи, через бизнес- и системную аналитику, разработку ТЗ и дизайна — до воплощения в коде и поддержки работающего проекта.</p>
									</div>
									<div class="right">
										<ul>
											<li><span class="first">CMS:</span><span class="second">Wordpress, Opencart, 1С-Битрикс</span></li>
											<li><span class="first">CRM:</span><span class="second">RetailCRM, amoCRM, Битрикс24</span></li>
											<li><span class="first">WMS:</span><span class="second">МойСклад, 1С:Предприятие</span></li>
											<li><span class="first">SaaS:</span><span class="second">Tilda, inSales, Craftum</span></li>
											<li><span class="first">PLs:</span><span class="second">Python, Javascript, PHP</span></li>
											<li><span class="first">FWs:</span><span class="second">Flask, Django, FastAPI</span></li>
										</ul>
									</div>
								</div>
							</div>
							<div class="services">
								<div class="wrapper">
									<div class="service_list">
										<div class="cavani_tm_title">
											<span>По-русски</span>
										</div>
										<div class="list">
											<ul>
												<li>Веб-разработка</li>
												<li>IT-консалтинг</li>
												<li>Аналитика</li>
											</ul>
										</div>
									</div>
									<div class="service_list">
										<div class="cavani_tm_title">
											<span>Понерусски</span>
										</div>
										<div class="list">
											<ul>
												<li>UX|UI</li>
												<li>DevOps</li>
												<li>E-commerce</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="skills">
								<div class="wrapper">
									<div class="programming">
										<div class="cavani_tm_title">
											<span>ТЕХНОЛОГИИ</span>
										</div>
										<div class="cavani_progress">
											<div class="progress_inner" data-value="95">
												<span><span class="label">Backend: Python &amp; PHP</span><span class="number">95%</span></span>
												<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
											</div>
											<div class="progress_inner" data-value="80" >
												<span><span class="label">Fontend: HTML+CSS &amp; JavaScript</span><span class="number">80%</span></span>
												<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
											</div>
											<div class="progress_inner" data-value="90">
												<span><span class="label">DevOps: Git &amp; Docker</span><span class="number">90%</span></span>
												<div class="background"><div class="bar"><div class="bar_in"></div></div></div>
											</div>
										</div>
									</div>
									<div class="language">
										<div class="cavani_tm_title">
											<span>СФЕРЫ</span>
										</div>
										<div class="circular_progress_bar">
											<ul>
												<li>
													<div class="list_inner">
														<div class="myCircle" data-value="0.95"></div>
														<div class="title"><span>API</span></div>
													</div>
												</li>
												<li>
													<div class="list_inner">
														<div class="myCircle" data-value="0.8"></div>
														<div class="title"><span>CMS</span></div>
													</div>
												</li>
												<li>
													<div class="list_inner">
														<div class="myCircle" data-value="0.9"></div>
														<div class="title"><span>CRM</span></div>
													</div>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>

							<div class="partners">
								<div class="cavani_tm_title">
									<span>Партнёры</span>
								</div>
								<div class="list">
									<ul>
										<li>
											<div class="list_inner">
												<img src="img/partners/logotype-insales.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/RetailCRM_horiz.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/moysklad-logo.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/CDEK.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/Tilda_logo_hotizontal_black.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/novofon.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/logo-tcs.svg" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<img src="img/partners/Bitrix24-logo-ru.svg.png" alt="" />
												<a class="cavani_tm_full_link" href="#"></a>
											</div>
										</li>
									</ul>
								</div>	
							</div>
						</div>
					</div>
				</div>
				<!-- /ABOUT -->
				
				<!-- WHY ME -->
				<div class="cavani_tm_section" id="why">
					<div class="section_inner">
						<div class="cavani_tm_about">
							<div class="biography">
								<div class="cavani_tm_title">
									<span>Говорим на одном языке</span>
								</div>
								<div class="wrapper">
									<div class="left">
										<p>Существует известное противоречие: представители бизнеса и программисты говорят на разных языках и часто просто не могут понять друг друга.</p>
										<p>Свой первый интернет магазин я создал в далёком 2008 году. С тех пор поработал с целым рядом проектов, выступая в основном в качестве заказчика.</p>
										<p>Последние несколько лет я активно участвую в тех же процессах, но уже со стороны разработки.</p>
									</div>
									<div class="right">
										<p>Этот опыт позволяет мне одинаково хорошо говорить и на языке бизнеса и на языке разработчиков.</p>
										<p>Я на 100% понимаю проблемы и цели собственника/руководителя и умею превращать их в понятные для IT-специалистов задачи.</p>
										<p>В результате все в выигрыше: программисты с удовольствием выполняют чёткое и ясное ТЗ, заказчик получает решение, которое работает именно так, как он хотел.</p>
									</div>
								</div>
							</div>

							<div class="experience">
								<div class="wrapper">
									<div class="resume">
										<div class="cavani_tm_title">
											<span>Как проходит работа</span>
										</div>
										<div class="list">
											<div class="univ">
												<ul>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>1</span>
															</div>
															<div class="place">
																<h3>Обсуждение</h3>
																<span>В общем обсуждаем задачу, формулируем успешный результат, предварительно обозначаем бюджет.</span>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>2</span>
															</div>
															<div class="place">
																<h3>Предоплата</h3>
																<span>Если бюджет принципиально подходит, вы вносите предоплату (обычно 10-20% от общей оценки проекта).</span>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>3</span>
															</div>
															<div class="place">
																<h3>Техническое задание</h3>
																<span>Составляем ТЗ, в котором декомпозируем задачу и определяем пути решения каждой из подзадач.</span>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>4</span>
															</div>
															<div class="place">
																<h3>Смета</h3>
																<span>На основании согласованного и утверждённого ТЗ составляем смету работ, определяем бюджет, сроки и этапы выполнения и оплаты.</span>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>5</span>
															</div>
															<div class="place">
																<h3>Реализация</h3>
																<span>В ходе выполнения работ вы получаете постоянную обратную связь от менеджера проекта.</span>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>6</span>
															</div>
															<div class="place">
																<h3>Гарантия</h3>
																<span>У вас есть время на проверку результата и гарантия на проведённые работы. Это означает, что в течение месяца с момента приёмки все доработки в рамках ТЗ для вас бесплатны.</span>
															</div>
														</div>
													</li>
													<li>
														<div class="list_inner">
															<div class="time">
																<span>7</span>
															</div>
															<div class="place">
																<h3>Поддержка</h3>
																<span>Мы заинтересованы в постоянном сотрудничестве и после окончания основных работ с удовольствием возьмём на себя всестороннюю поддержку и дальнейшие доработки вашего решения.</span>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>

								</div>
							</div>

							<div class="testimonials">
								<div class="cavani_tm_title">
									<span>Отзывы</span>
								</div>
								<div class="list">
									<ul class="owl-carousel">
										<li>
											<div class="list_inner">
												<div class="text">
													<i class="icon-quote-left"></i>
													<p>Реализовали Api-интеграцию сайта на Insales с фулфилмент-оператором. Остались довольны сотрудничеством, в частности успешностью и оперативностью выполнения задачи (дело происходило в новогодние праздники!), вовлечённостью специалиста, оперативностью, грамотностью и обстоятельностью коммуникации.</p>
												</div>
												<div class="details">
													<div class="image">
														<div class="main" data-img-url="img/testimonials/1.jpg"></div>
													</div>
													<div class="info">
														<h3>Эрман Ольга Михайловна</h3>
														<span>генеральный директор ООО «КОСТЬЕРА ФЕШН»</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="text">
													<i class="icon-quote-left"></i>
													<p>Очень благодарен Ивану за изготовленный сайт компании, при выполнении работ были учтены все пожелания, сайт удобен в навигации, понятен и прост для пользователей,  дизайн передает эстетику компании и приятен глазу. Очень доволен работой Ивана. Могу порекомендовать его как профессионала.</p>
												</div>
												<div class="details">
													<div class="image">
														<div class="main" data-img-url="img/testimonials/1.jpg"></div>
													</div>
													<div class="info">
														<h3>Сергей Гурьянов</h3>
														<span>директор ООО Юридическая компания «ФЕДЕРАЦИЯ»</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="text">
													<i class="icon-quote-left"></i>
													<p>Иван, добрый день!
														Во-первых спасибо вам за проделанную работу.
														Во-вторых если чуть подробнее то хотелось бы отметить то, что вы учли
														все мои пожелания, которые менялись немного в процессе реализации. Ну
														и самое главное это конечно скорость! Управились мы с вами гораздо
														быстрее, чем те сроки о которых вы мне говорили.
														Кратко резюмируя: качество + скорость работы. В дальнейшем в случае
														необходимости точно обращусь к вам в очередной раз!
													</p>
												</div>
												<div class="details">
													<div class="image">
														<div class="main" data-img-url="img/testimonials/1.jpg"></div>
													</div>
													<div class="info">
														<h3>Попов Александр</h3>
														<span>https://ipointperm.ru/</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="text">
													<i class="icon-quote-left"></i>
													<p>Иван,  все работает. Спасибо за отличную работу.
														<p>
														...
														</p>
														Я очень доволен работой.
														На мою задачу предложили несколько вариантов решения с разной ценовой градацией. Сделали все быстро. На вопросы отвечают оперативно. Надеюсь на дальнейшее сотрудничество.
													</p>
												</div>
												<div class="details">
													<div class="image">
														<div class="main" data-img-url="img/testimonials/2.jpg"></div>
													</div>
													<div class="info">
														<h3>Валентин Воробьев</h3>
														<span>https://www.filters.market/</span>
													</div>
												</div>
											</div>
										</li>
										<li>
											<div class="list_inner">
												<div class="text">
													<i class="icon-quote-left"></i>
													<p>Иван, спасибо большое за аудит. Я прочла, осталась очень довольна тем, как доходчиво и просто написано о сложных для "обычного, смертного люда" вещах)
														Завтра-послезавтра в офисе обсудим всё конкретнее, пообщаемся.
														Мы обращались до Вас к нескольким компаниям, людям.. И Вы пока первый, кто взял и разжевал всё. Не мы вытягивали информацию и задавали вопросы, а Вы сами всё сказали. Это цепляет!</p>
												</div>
												<div class="details">
													<div class="image">
														<div class="main" data-img-url="img/testimonials/3.jpg"></div>
													</div>
													<div class="info">
														<h3>Екатерина Шрайбер</h3>
														<span>https://gm-light.ru/</span>
													</div>
												</div>
											</div>

										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /WHY ME -->
				
				<!-- SERVICE -->
				<div class="cavani_tm_section" id="service">
					<div class="section_inner">
						<div class="cavani_tm_service">
							<div class="cavani_tm_title">
								<span>Услуги</span>
							</div>
							<div class="service_list">
								<ul>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/character.svg" alt="" />
											<h3 class="title">Разработка</h3>
											<p class="text">Создание и доработка сайтов, web-приложений, API</p>
											<a class="cavani_tm_full_link" href="#"></a>
											
											<!-- Modalbox Info Start -->
											<img class="popup_service_image" src="img/news/expert.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Сколько стоит сделать сайт? Навскидку — от 5 тысяч до 5 миллионов рублей. И это не шутка, это реальный разброс цен в зависимости от конкретных требований к дизайну и функционалу, планируемой нагрузки, используемых инструментов и технологий.</p>
														<p>Одно из моих преимуществ в том, что я не привязан к какой-то конкретной CMS или фреймворку, есть опыт реализации проектов на различных платформах. Я никогда не навязываю вам своё "любимое" решение — вместо этого объясняю плюсы и минусы каждого из вариантов и помогаю выбрать оптимальный.</p>
														<p>Если нужно доработать готовый сайт, добавить функционал, изменить дизайн, сделать интеграцию с каким-то внешним сервисом, — я и моя команда также сможем помочь.</p>
													</div>
												</div>
											</div>
											<!-- Modalbox Info Start -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/grow.svg" alt="" />
											<h3 class="title">E-commerce</h3>
											<p class="text">Внедрение CRM и складской программы, интеграция с внешними сервисами </p>
											<a class="cavani_tm_full_link" href="#"></a>
											
											<!-- Modalbox Info Start -->
											<img class="popup_service_image" src="img/news/support.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Современная электронная коммерция — это не только интернет-магазин. Это ещё и бэк-офис с CRM, WMS, интеграцией с маркетплейсами и логистическими компаниями.</p>
														<p>Это реклама и маркетинг, построение долгосрочных отношений с постоянными клиентами и оптимизация затрат на привлечение новых. Это настройка омниканальности и анализ самых разнообразных метрик и конверсий на всех этапах работы.</p>
														<p>Со всем этим я помогаю разобраться, подобрать и настроить инструменты для эффективной работы, анализа данных и удобного управления различными частями вашей цифровой инфраструктуры.</p>
													</div>
												</div>
											</div>
											<!-- Modalbox Info Start -->
											
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/art.svg" alt="" />
											<h3 class="title">Дизайн</h3>
											<p class="text">Дизайн сайтов, приложений, интерфейсов</p>
											<a class="cavani_tm_full_link" href="#"></a>
											
											<!-- Modalbox Info Start -->
											<img class="popup_service_image" src="img/news/design.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Здесь должен быть текст от нашего дизайнера Адама.</p>
														<p>Если текста до сих пор нет, то это скорее всего потому, что Адам гораздо лучше рисует, чем пишет. :)</p>
														<p>Но дизайнер он точно хороший. Правда-правда. Через его заботливые руки прошли уже сотни проектов, и заказчик каждого из них остался доволен!</p>
														<p> Основные направления:<br>
															1. Фирменный стиль<br>
															2. UI UX дизайн<br>
															3. Веб дизайн<br>
															4. Графическикй дизайн<br>
															5. Полиграфия</p>
													</div>
												</div>
											</div>
											<!-- Modalbox Info Start -->
											
										</div>
									</li>

									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/3d.svg" alt="" />
											<h3 class="title">Администрирование</h3>
											<p class="text">Системное администрирование: настройка и поддержка серверов</p>
											<a class="cavani_tm_full_link" href="#"></a>

											<!-- Modalbox Info Start -->
											<img class="popup_service_image" src="img/news/server.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>"Ваше приложение потребляет слишком много памяти. Предлагаем перейти на другой тариф." Получали когда-нибудь подобные сообщения от хостинг-провайдера? И как в таких случаях разобраться: действительно ли есть проблема с приложением, или провайдер просто хочет "развести" вас на более дорогой тариф?</p>
														<p>Я и моя команда заинтересованы в том, чтобы ваше приложение работало быстро и без сбоев. Нам как профессионалам не нравится решать проблему "в лоб" — путём покупки дополнительных мощностей. Гораздо интереснее разобраться в причинах перегрузки и настроить систему для более оптимального использования уже имеющихся ресурсов.</p>
														<p>У нас есть опыт эксплуатации систем самого разного масштаба: от одностраничных сайтов на виртуальном хостинге до cloud-native приложений в распределённых системах Kubernetes и Virtuozzo. Мы поможем подобрать, настроить и поддерживать наиболее подходящее для вас инфраструктурное решение.</p>
													</div>
												</div>
											</div>
											<!-- Modalbox Info Start -->

										</div>
									</li>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/contract.svg" alt="" />
											<h3 class="title">Аудит и консультации</h3>
											<p class="text">Бизнес- и системная аналитика, аудит сайтов и инфраструктуры</p>
											<a class="cavani_tm_full_link" href="#"></a>

											<!-- Modalbox Info Start -->
											<img class="popup_service_image" src="img/news/web.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Вы заказали сайт и хотели бы проверить, насколько хорошо сделана работа? Происходят какие-то технические сбои, или же сайт работает нормально, но почему-то "не продаёт"? А может быть, у вас есть крутая бизнес-идея, но вы не уверены в том, можно ли её реализовать с приемлемым бюджетом?</p>
														<p>Всё это хорошие поводы для того, чтобы обратиться к независимой экспертизе. Обсудим проблемы, проведём предпроектное исследование, сделаем бизнес- и системную аналитику и расчёты по проекту. Изучим сайт на предмет ошибок и недочётов, проанализируем метрики, наметим точки роста, разработаем дорожную карту на ближайшую, средне- и долгосрочную перспективу.</p>
														<p>Путь, который вы собираетесь пройти, скорее всего кто-то уже проходил до вас. Принимал неправильные решения, спотыкался и падал, терял деньги и время. Не стоит повторять чужие ошибки — лучше использовать чужой опыт. Обратитесь к незаинтересованному профессионалу, его "свежий", но опытный взгляд наверняка будет полезен!</p>
													</div>
												</div>
											</div>
											<!-- Modalbox Info Start -->

										</div>
									</li>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/support.svg" alt="" />
											<h3 class="title">Поддержка сайтов</h3>
											<p class="text">Поддержка на постоянной основе, IT-аутсорсинг</p>
											<a class="cavani_tm_full_link" href="#"></a>

											<!-- Modalbox Info Start -->
											<img class="popup_service_image" src="img/news/sysadmin.jpg" alt="" />
											<div class="service_hidden_details">
												<div class="service_popup_informations">
													<div class="descriptions">
														<p>Сколько стоит нанять IT-специалиста в штат? Вообще, IT-специалисты бывают очень разные, но для простоты давайте возьмём обыкновенного системного администратора, не самого высокого уровня подготовки. Средняя зарплата такого работника составит примерно 50 000 руб. (в провинциальном городе, возможно, она будет ближе к 30 000, а вот в "столицах" — скорее к 80 000 руб.)</p>
														<p>Заключив договор со мной, за сумму от 10 тыс. рублей в месяц вы получаете в своё распоряжение целую команду опытных профессионалов из разных IT-отраслей. Они не только разберутся с тем, почему сайт не работает, но и подберут наиболее подходящего партнёра для доставки или эквайринга, и сами проведут интеграцию с этими сервисами.</p>
														<p>Правда, починить монитор или заправить принтер мы не сможем — для этого лучше обратиться в другие службы. Но со всем, что связано с программным обеспечением, что можно сделать удалённо, мы постараемся помочь. А если не сможем помочь сами — постараемся рекомендовать проверенных партнёров, которые точно помогут.</p>
													</div>
												</div>
											</div>
											<!-- Modalbox Info Start -->

										</div>
									</li>
								</ul>
							</div>
							
						</div>
					</div>
				</div>
				<!-- /SERVICE -->
				
				<!-- CONTACT -->
				<div class="cavani_tm_section" id="contact">
					<div class="section_inner">
						<div class="cavani_tm_contact">
							<div class="cavani_tm_title">
								<span>Как связаться</span>
							</div>
							<div class="short_info">
								<ul>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/location.svg" alt="" />
											<span>Самара, РФ</span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/mail.svg" alt="" />
											<span><a href="#">ivan-a-popov@ya.ru</a></span>
										</div>
									</li>
									<li>
										<div class="list_inner">
											<img class="svg" src="img/svg/call.svg" alt="" />
											<span>+7 985 993 63 90</span>
										</div>
									</li>
								</ul>
							</div>
							<div class="form">
								<div class="left">
									<div class="fields">
										<form action="/" method="post" class="contact_form" id="contact_form">
											<div class="returnmessage" data-success="Ваше сообщение отправлено. Пожалуйста, ожидайте обратной связи."></div>
											<div class="empty_notice"><span>Пожалуйста, заполните нужные поля</span></div>
											<div class="first">
												<ul>
													<li>
														<input id="name" type="text" placeholder="Имя" autocomplete="off">
													</li>
													<li>
														<input id="email" type="text" placeholder="Email или telegram" autocomplete="off">
													</li>
												</ul>
											</div>
											<div class="last">
												<textarea id="message" placeholder="Сообщение"></textarea>
											</div>
											<div class="cavani_tm_button">
												<a id="send_message" href="#">Отправить</a>
											</div>

										</form>
									</div>
								</div>
								<div class="right">
									<div class="map_wrap">
										<div class="mapouter"><div class="gmap_canvas"><iframe width="100%" height="355" id="gmap_canvas" src="https://maps.google.com/maps?q=IT-%D0%9F%D0%90%D0%A0%D0%9A+%D0%9C%D0%9E%D0%9D%D0%A2%D0%95+%D0%A0%D0%9E%D0%97%D0%90&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://fmovies-online.net">fmovies</a><br><style>.mapouter{position:relative;text-align:right;height:355px;width:100%;}</style><a href="https://www.embedgooglemap.net">embedgooglemap.net</a><style>.gmap_canvas {overflow:hidden;background:none!important;height:355px;width:100%;}</style></div></div>
										
										<!-- Get your API here https://www.embedgooglemap.net -->
										
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /CONTACT -->
				
			</div>
		</div>
		<!-- /MAINPART -->
		
		<!-- FOOTER -->
		<div class="cavani_tm_footer">
			<div class="copyright">
				<p>&copy; ИП Попов Иван Анатольевич ИНН 250105290350</p>
			</div>
			<!--
			<div class="social">
				<ul>
					<li><a href="https://t.me/ivan_a_popov"><img class="svg" src="img/svg/social/telegram.svg" alt="" /></a></li>
					<li><a href="https://vk.com/ivan_a_popov"><img class="svg" src="img/svg/social/vk.svg" alt="vk" /></a></li>
					<li><a href="https://twitter.com/ivan_aka_messir"><img class="svg" src="img/svg/social/twitter.svg" alt="" /></a></li>
					<li><a href="https://www.youtube.com/@ivan_popov"><img class="svg" src="img/svg/social/youtube.svg" alt="" /></a></li>

				</ul>
			</div>
			-->
		</div>

		<!-- /FOOTER -->
		
		<!-- MAGIC CURSOR -->
		<div class="mouse-cursor cursor-outer"></div>
		<div class="mouse-cursor cursor-inner"></div>
		<!-- /MAGIC CURSOR -->

	</div>
	<!-- / WRAPPER ALL -->
	
<!-- SCRIPTS -->
<script src="js/jquery.js"></script>
<!--[if lt IE 10]> <script type="text/javascript" src="js/ie8.js"></script> <![endif]-->	
<script src="js/plugins.js"></script>
<script src="js/init.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA5bpEs3xlB8vhxNFErwoo3MXR64uavf6Y&callback=initMap"></script>
<!-- /SCRIPTS -->

</body>
</html>
